# CRIANDO BANCO

In [1]:
import sqlite3

banco = 'escola'

# CRIAR TABELA ALUNOS

In [2]:
script_sql = """
CREATE TABLE IF NOT EXISTS Alunos(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    idade INTEGER NOT NULL,
    email TEXT NOT NULL
)
"""

try:
    with sqlite3.connect(banco) as conn:
        cur = conn.cursor()
        cur.execute(script_sql)
        conn.commit()
        print("Tabela 'Alunos' Criada com sucesso!")
except  sqlite3.OperationalError as e:
    print('Erro:', e)

Tabela 'Alunos' Criada com sucesso!

# INSERIR REGISTROS

In [39]:
script_sql = """
INSERT INTO Alunos (nome, idade, email)
VALUES (?, ?, ?)
"""

try:
    with sqlite3.connect(banco) as conn:
        cur = conn.cursor()
        dados = [
            ("Andreas", 18, "Andy_ribfer@gmail.com"),
            ("Bryan", 17, "BcB@gmail.com"),
            ("Evelyn", 17, "Evy@gmail.com")
        ]
        cur.executemany(script_sql, dados)
        conn.commit()
        print("Registros inseridos com sucesso")
except  sqlite3.OperationalError as e:
    print('Erro:', e)

Registros inseridos com sucesso

# LISTAR TODOS OS REGISTROS

In [40]:
script_sql = "SELECT * FROM Alunos"

try:
    with sqlite3.connect(banco) as conn:
        cur = conn.cursor()
        cur.execute(script_sql)
        res = cur.fetchall()
        print("\n LISTA DE ALUNOS:")
        for linha in res:
            print(linha)
            
except  sqlite3.OperationalError as e:
    print('Erro:', e)

 LISTA DE ALUNOS:
(10, 'Andreas', 18, 'Andy_ribfer@gmail.com')
(11, 'Bryan', 17, 'BcB@gmail.com')
(12, 'Evelyn', 17, 'Evy@gmail.com')

# BUSCAR POR ID

In [ ]:
id_busca = 10
script_sql = "SELECT * FROM Alunos WHERE id = ?"

try:
    with sqlite3.connect(banco) as conn:
        cur = conn.cursor()
        cur.execute(script_sql,(id_busca,))
        res = cur.fetchone()
        print(f"\n Resultado da busca pelo ID {id_busca}:")
        print(res)

except  sqlite3.OperationalError as e:
    print('Erro:', e)

 Resultado da busca pelo ID 10:
(10, 'Andreas', 18, 'Andy_ribfer@gmail.com')

# ATUALIZAR REGISTROS

In [13]:
script_sql = """
UPDATE Alunos
SET nome = ?, idade = ?, email = ? WHERE id = ?

"""
try:
    with sqlite3.connect(banco) as conn:
        cur = conn.cursor()
        cur.execute(script_sql, ("Andreas Ribeiro", 18, "Andy_ribfer@gmail.com", 2))
        conn.commit()
        print("\n Registros atualizados com sucesso!")

        cur.execute("SELECT * FROM Alunos WHERE id = 2")
        print("Registro atualizado:", cur.fetchone())

except  sqlite3.OperationalError as e:
    print('Erro:', e)

 Registros atualizados com sucesso!
Registro atualizado: (2, 'Andreas Ribeiro', 18, 'Andy_ribfer@gmail.com')

# DELETAR REGISTROS

In [37]:
script_sql = """DELETE FROM Alunos WHERE id = ?"""

try:
    with sqlite3.connect(banco) as conn:
        cur = conn.cursor()
        cur.execute(script_sql, (9,))
        conn.commit
        print("\n Registros deletados com sucesso!")

except  sqlite3.OperationalError as e:
    print('Erro:', e)

 Registros deletados com sucesso!